
h2{
    text-align: center;
  font-family: "Impact";
  font-size: 65px;
  font-weight: 50px;
  color:#FFFFFF;
}
.Box{
    margin-left: 380px;
    margin-top: 40px;
}
body {
     background: url('../img/landing.jpg');
    line-height: 1.6;
    margin: 2em;
}

th {
    background-color: #001f3f;
    color: #FFFFFF;
    padding: 1em 1.5em;
}

td {
    border-top: 1px solid #eee;
    padding: 1em 1.5em;
    color:#FFFFFF;
}



/* Column types */
th.missed-col {
    background-color: #f00;
}

td.missed-col {
    background-color: #ffecec;
    color: #f00;
    text-align: center;
}

.name-col {
    text-align: center;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}